<div class="container">
  <h1 class='text-center'>Admin Documentation</h1>
  <br>
  <h4 class='text-center'>Here you will find everything you need to administer your website</h4>
  <hr>

  <div class="row">
    <div class="col-sm-12">
      <h2>Basics</h2>
      <h4>(1.1) Logging in</h4>
      <p>There are two administration areas, one for the portfolio site, and one for the ecommerce site. Both are accessible using the same login. From either link you will be redirected to a login page if you aren't logged in</p>
      <p><strong>Portfolio Dashboard: </strong>http://sageguardsourcing.com/dashboard</p>
      <p><strong>Shop Dashboard: </strong>http://sageguardsourcing.com/shop/admin</p>
      <p>Once you are logged in, you can reach the admin panel at the top of your site.  It contains links to the portfolio dashboard, the shop dashboard, the documenatation, and the logout button.</p>
    </div>
  </div>
</div>
