<% if flash[:notice] || flash[:error] %>
  <% if flash[:notice] %>
    <div class="notice alert alert-success"><%= notice %></div>
  <% else %>
    <div class="alert alert-danger"><%= alert %></div>
  <% end %>
<% end %>
