<footer>
     <section id="footer_teasers_wrapper">
          <div class="container">
               <div class="row">
                    <div class="footer_teaser col-sm-4 col-md-4">
                         <h3>About us</h3>
                         <p><i class="fa fa-map-marker"></i> 29638 Detroit Rd.</p>
                         <p><i class="fa fa-phone"></i> (440) 892-2000</p>
                         <p><i class="fa fa-print"></i> (+30) 9854-7855</p>
                         <p><i class="fa fa-envelope"></i> contact@sageguard.com</p>
                    </div>
                    <div class="footer_teaser col-sm-4 col-md-4">
                         <h3>Latest News</h3>
                         <ul class="media-list">
                              <li class="media"> <a href="#" class="media-photo" style="background-image:url(images/portfolio/t5.jpg)"></a> <a href="#" class="media-date">19<span>FEB</span></a>
                                   <h5 class="media-heading"><a href="#">Media heading, this is a title of a news...</a></h5>
                                   <p>Fugiat dapibus, tellus ac cursus commodo, ut fermentum...</p>
                              </li>
                              <li class="media"> <a href="#" class="media-photo" style="background-image:url(images/portfolio/t4.jpg)"></a> <a href="#" class="media-date">18<span>FEB</span></a>
                                   <h5 class="media-heading"><a href="#">Media heading, of a news item.</a></h5>
                                   <p>Fugiat dapibus, tellus ac cursus commodo, condime ntum nibh, ut fermentum...</p>
                              </li>
                         </ul>
                    </div>
                    <div class="footer_teaser col-sm-4 col-md-4">
                         <h3>Sitemap</h3>
                         <ul class="nav">
                           <li>Home</li>
                           <li>About</li>
                           <li>Contact</li>
                           <li>Careers</li>
                           <li>Services</li>
                           <li>Portfolio</li>
                           <li>Shop</li>
                           <li>Blog</li>
                         </ul>
                    </div>
               </div>
          </div>
     </section>
     <section class="copyright">
          <div class="container">
               <div class="row">
                    <div class="col-sm-6 col-md-6"> Copyright ©2016 all rights reserved </div>
                    <div class="text-right col-sm-6 col-md-6"> Designed by <a href="http://www.sabula.co">Sabula &amp; Co.</a> </div>
               </div>
          </div>
     </section>
</footer>
